

body {
       
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%; 

}
 






    H1{ 
        color: rgb(221, 244, 255);
        font-family: ALGERIAN;
        font-size: 70px;
    }

    
    
    

    






H2{

color: azure;

font-family: BLOD

}





